<section class='welcome'>
  <div id='hello'>
    <span>Full-Stack Web Developer</br> and Artist Extrodinaire</span>
    <p> Vancouver, BC </p>
  </div>
</section>



<section class='about-me'>
</section>

<section class='skills'>
  <div class='aboutmetext'>
    <h1 class='headerstyle'>About Me</h1>
      <br>
        <h4>I am a motivated, determined individual with a creative and practical mindset seeking</br> a job in web development. My background in design, enthusiasm for both front and </br>backend development along with my strong attention to detail makes me a good candidate </br>for a position as a web developer.
        </h4>
      <br>
    <h1 class='headerstyle'>Education</h1>
      <br>
        <h3>
        Lighthouse Labs | 2014
        <br>
          <h4>Being new at programming Lighthouse opened my eyes to the world of full stack web design.<br>Coding was not the only thing expected with this boot camp. Self­teaching and extremely organised <br>time management were necessary to flourish in this environment.
          </h4>
        </h3>
      <br>
        <h3>
        University of Victora | BFA | 2012
        <br>
          <h4>With Visual Arts we were forced to look at the bigger picture. I feel as though going through a program <br>like this helps someone become a great problem solver. Alot of the classes that I took were done<br> on the computer so my design oriented skills on a computer are highly refined. I consider myself a quick<br> learner that is doesn’t say no to a challenge.
          </h4>
        </h3>
      <br>
        <h3>St.Georges School | 2007</h3>

  </div>
</section>


<%= render 'layouts/footer' %>