<div class='container'>
  <div class='row'>
    <h1>Sup boi!!!  all there is to do now is set up a domain name..(you have to choose) we are live on the internet.... just need to actually make the site... make take a bit but shit is gunna be sick!  To get a live site it is actually pretty hard to do so this is an accomplishment!  not jsut gunna be running a wordpress site!  shit is going to be legit!</h1>  
  </div>
</div>

  