<section class='welcome'>
  <div id='hello'>
    <span>Artist</br>Innovator</br>Developer</span>
    <p> Vancouver,<span class='bc-text'> BC</span> </p>
  </div>
</section>

<!-- <section class='skills'>

</section> -->

<section class='about-me'>
  <div class='aboutmetext'>
      <br><!-- projecting volume across 2d and 3d -->
        <p class='infoparagraph'>I am a motivated, determined individual with a creative and practical mindset seeking a job in web development. My background in design, enthusiasm for both front and backend development along with my strong attention to detail makes me a good candidate for a position as a web developer.
        </p>
      <br>
      <br>
        <h3 class='subheaderstyle'>
        Lighthouse Labs | 2014
        </h3>
        <br>
        <!-- Found something that i am passionate about that gives a practical use to my Visual Arts Degree-->
          <p class='infoparagraph'>Lighthouse Labs opened my eyes to the world of full stack web design and development.  Coding was not the only thing expected with this boot camp. Self­teaching and extremely organised time management were necessary to flourish in this environment.
          </p>
        
      <br>
        <h3 class='subheaderstyle'>
        University of Victora | BFA | 2012
        </h3>
        <br>
          <p class='infoparagraph'>With Visual Arts we were forced to look at the bigger picture. I feel as though going through a program like this helps someone become a great problem solver. Alot of the classes that I took were done on the computer so my design oriented skills on a computer are highly refined. I consider myself a quick learner that is doesn’t say no to a challenge.
          </p>  
      <br>
        <h3 class='subheaderstyle'>St.Georges School | 2007
        </h3>
        <br>
          <p class='infoparagraph'>

          </p>  
        <br>

  </div>
</section>



<%= render 'layouts/footer' %>