<div class='container'>
  <div class='projects'>
    <div class='aboutprojects'>
      <h1> Web Applications </h1>
      <hr>
      <!-- schoolbox project -->
      <section id='schoolboxcontainer'>
        <div>
          <a href='https://github.com/kingllama/parent-teacher/tree/master/Parent-Teacher'><img src='/images/schoolboxlogo.png' class='schoolboximg'></a>
        </div>
        <div class='aboutschoolbox'>
          <p>This is a site dedicated to making communication between parents and teachers more efficient.  It facilitates the exchange of important documents, such as report cards and permissions slips, between parents and teachers.  Teachers and parents are able to create apointments and live chat with each other on the site.  With the user in mind the site the front end was desgined to make it easy for parents and teachers to navigate throught the site.  This site was built on Ruby on Rails and includes aspects of Jquery, JavaScript, CSS and Websockets.</p>
        </div>
      </section>
      <hr>
      <!-- creepr -->
      <section id='creeprcontainer'>
      <a href='http://creepr1.herokuapp.com/'><h1>creepr</h1></a>
        <div class='aboutcreepr'>
          <p>A strong picture viewing and sharing app modelled off sites such as Instagram and Flickr.  Gives users the opportunity to add, review, rate, and comment on pictures uploaded to the site.  Creepr includes the ability to tag individual photos and send notification to users when a photo has been uploaded to a certain tag.  This site was built using Sinatra, and includes Javascript, Jquery, Ruby, CSS, HTML, and a variety of ruby gems.</p>
        </div>
      </section>
      <hr>
      <section id='rottenmangoescontainer'>
      <a href='https://github.com/KieranCormack/Rotten-Mangoes'><img src='/images/mango.jpg'></a>
        <div class='aboutmangos'>
          <p>Rotten Mangoes was a project that I completed at Lighthouse Labs.  Using basic CRUD functionality, users are able to add, rate, review, and comment on movies uploaded to the site by other users.  It is essentially a personal movie journal.  This app was my first Ruby on Rails application.</p>
        </div>
      </section>



    </div>
  </div>
</div>
