
  
<div class='contactinfo-holder'>
  <p class='title'>Contact Me</h1>
  <hr>
  <div class='inline'>
    <div class='lineitup'><a href='https://github.com/KieranCormack' class='gitimage'></a><span class='contactinfomargin'>Checkout my GitHub Account!</span></div>
    <div class='lineitup'><a href='https://www.linkedin.com/in/kcormack' class='linkedin'></a><span class='contactinfomargin'>Checkout my LinkedIn Profile!</span></div>
    <div class='lineitup'><a class="email"></a><span class='contactinfomargin'>kcormack91@gmail.com</span></div>
    <div class='lineitup'><a class='phonenumber'></a><span class='contactinfomargin'>(1)-604-785-4616</span></div>
  </div>

</div>

