@import "bootstrap-sprockets";
@import "bootstrap";
@import 'profile';
@import 'contact';

.background{
  background-image: url('backgroundimage.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.inside-color{
  background-color: white;
  box-shadow: 0 0 10px #000;
}

.move-down {
  padding-top: 200px; 
  min-height:100%;
}

.orange:hover{
  color: rgb(252,177,29) !important;
}

