@import "bootstrap-sprockets";
@import "bootstrap";
@import 'welcome';

.background{
  background-image: url('backgroundimage.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.inside-color{
  background-color: white;
  box-shadow: 0 0 10px #000;
}

.move-down {
  padding-top: 200px; 
}