.inline {
  display:inline-block;
  padding: 20px;
  text-align:50%;
}

.contactsection{
  width:auto;
  background-color:#EDA12B;
  height: auto;
  text-align: center;
}


.gitimage {
  content:url(http://www.scolvin.com/juliabyexample/static/github.png);
  height:50px;
  width:50px;
  vertical-align: middle;
  margin-right:100px;
  margin-left: 100px;
  padding-bottum: 20px;

}
.linkedin{
  content:url(http://cdn.flaticon.com/png/256/2496.png);
  height: 50px;
  width: 50px;
  margin-right: 100px;
  margin-left: 100px;
  vertical-align: middle;
  padding-bottum: 20px;
}

.email{
  content:url(http://www.clker.com/cliparts/n/P/R/a/Z/Y/email-logo-md.png);
  height: 50px;
  width: 50px;
  margin-right: 100px;
  margin-left: 100px;
  vertical-align: middle;
  padding-bottum: 20px;
}






