// Place all the styles related to the Profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.projects{
background-color: white;
height:100%;
padding-top: 50px;
box-shadow: 2px 2px 2px 2px black;
height: auto;
padding-bottom: 20px;
}

.aboutprojects h1{
text-align: center;
}

.schoolboximg{
  height:200px;
  width: 200px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

.schoolbox div{
  display:inline-block;
}

.aboutschoolbox{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:60%;
  text-align: center;
  padding-top: 20px;
}

hr{
  width:60%;
}

.aboutcreepr{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:60%;
  text-align: center;
  padding-top: 20px;
}

#creeprcontainer a {
text-decoration: none;
color: black;
}


#rottenmangoescontainer{
  text-align: center;
}

.aboutmangos{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width:60%;
  text-align: center;
  padding-top: 20px;
}