
  <section class='contactsection'>
    <div class='inline'>
      <a href='https://github.com/KieranCormack' class='gitimage'></a>
      <a href='https://www.linkedin.com/in/kcormack' class='linkedin'></a>  
      <a href='mailto:kcormack91@gmail.com' class="email"></a>
    </div>
  <section>
