<div class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Kieran Cormack</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to 'RESUME', "https://www.dropbox.com/sh/k1xo5g1lkikt6ws/AADrKVJbeTL5LpKkWixupnRza?dl=0"%></li>
      
            </ul>
        </div>
       
    </div>
</div>
